.app {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

/*.app {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    overflow: hidden;*/
/*}*/

/*.content {*/
/*    opacity: 1;*/
/*    transition: opacity 0.5s ease;*/
/*}*/

/*.bg {*/
/*    opacity: 1;*/
/*    transition: opacity 0.5s ease;*/
/*}*/

.listItem {
    width: 150px;
    background-color: aqua;
}