.mainWrapper {
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    color: aqua;
    /*background-color: rgba(14, 13, 13, 0.69);*/
    /*background-color: rgba(2, 26, 121, 0.21);*/
    padding: 50px;
    /*box-shadow: 0 4px 358px rgba(251, 251, 252, 0.42);*/
}