.mainWrapper {
    max-width: 900px;
    /*border: 1px solid yellow;*/
    /*height: 100vh;*/
    margin: 0 auto;
    /*background-color: rgba(4, 23, 100, 0.64);*/
    padding: 50px;
    /*box-shadow: 0 -4px 358px rgb(175, 180, 197);*/
    box-shadow: inset 0 -4px 310px rgb(22, 60, 194);
}